a {
  float: left;
  font-size: 16px;
  color: rgb(238, 238, 238);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  background: #0a67ca;
  cursor: pointer;
  height: 1.2rem;
  width: 3.5rem;
  font-weight: bold;
  color: white;
  font-size: 0.8rem;
  margin-top: 20px;
  border: none;
  border-radius: 2px;
  margin-right: 4px;
}

a:hover,
.dropdown:hover .dropbtn {
  background-color: #0a67ca;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #0a67ca;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  gap: 00px;
  background-color: rgb(126, 132, 136);
  padding: 10px;
  zoom: 0.6;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  padding: 10px;
  margin: auto;
  width: 50%;
}

.item1 {
  border: 1px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  position: relative;
  left: 20%;
}

.center {
  padding: 10px;
  margin: auto;
  width: 50%;
}

#player1 {
  color: rgb(84, 170, 94);
}

#player2 {
  color: rgb(41, 120, 152);
}

.winner {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: darkblue;
}
#coins {
  color: rgba(228, 223, 66, 0.696);
  font-size: 70%;
}

#players1,
#players2 {
  height: 1.2rem;
  width: 10.5rem;
  background: #d9dfea;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 20px;
  border: none;
  border-radius: 2px;
}

button {
  cursor: pointer;
  height: 1.2rem;
  width: 3.5rem;
  background: #0aca94;
  font-weight: bold;
  color: white;
  font-size: 0.8rem;
  margin-top: 20px;
  border: none;
  border-radius: 2px;
}

.theNames {
  display: flex;
  margin-left: 2px;
}

.theNamesMove {
  display: flex;
  margin-left: 60%;
}
